/*@import "./reset.css";*/

@import "./common_styles.css";
@import "./header.css";
@import "./main-content.css";
@import "./aside.css";
@import "./footer.css";


@media all and (max-width: 720px) {
  .nav-container {
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
  }

  .navigation {
    max-height: 0;
    overflow: hidden;
    position: absolute;
    top: 65px;
    right: 0;
    left: 0;
    background-color: var(--color-white);
  }
  .nav-list {
    padding: 0;
  }
  .nav-item {
    display: block;
    padding: 15px 0;
    text-align: center;
    margin: 0 auto;
    border-bottom: 1px solid var(--shadow-color-light-gray);
  }
  .head-search {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
  }

  .main-content {
    width: 100%;
  }
  .main-container {
    flex-direction: column;
  }

  .aside-menu {
    width: 100%;
  }
}

@media all and (max-width: 480px) {
  .logo {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }

  .navigation {
    top: 110px;
  }

  .content-footer-icons {
    display: flex;
    flex-direction: column;
  }
}
